<h1>Them blog:</h1>
<style media="screen">
  .container{
    width: 70%;
  }
</style>
<div class="container">
      <form class="" action="/admin/postblog" method="post" class="form-group">
              <input name="utf8" type="hidden" value="&#x2713;">
              <input name="authenticity_token" type="hidden"
             value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">
               <label for="">Tieu de bai viet: </label>
               <input type="text" name="tieude" value="" class="form-control" required="required">
               <label for="">Mo ta: </label>
               <input type="text" name="mota" value="" class="form-control" required="required">
               <label for="">Hinh anh chu dao</label>
               <input type="text" name="img" value="" class="form-control" required="required">
               <label for="">Noi dung</label>
               <textarea name="noidung" rows="8" cols="80" class="form-control"></textarea>
               <button type="submit" name="button">Dang bai viet</button>
      </form>
</div>
