<style media="screen">
  h1{
    font-weight: bold;
    font-size: 50px;
  }
  h3{
    color: #666666;
  }
  p{
    font-size: 17px;
  }
  .row{
    border-bottom: 1px solid #7D8385;
  }
  #image{
    border-radius: 15px 50px 30px 5px;
  }
</style>
<div class="row">
  <div class="col-md-6">
            <h1>VỀ TÔI</h1>
              <h3>Tôi đang cố gắng trở thành Developer.
              Đang sinh sống, và làm việc ở TP HCM</h3>
              <p>Tôi thích chơi bóng chuyền và bóng bàn. Tập
              hợp bạn bè để đi vui chơi. Đặc biệt, yêu thích
              về vũ trụ, các lý thuyết về thời gian và không gian</p>
              <div class="text-center">
                <button type="button" name="button"><span><%= image_tag("about/icon_fb", :alt=>"icon facebook", :class=>"img-responsive")%></span>facebook</button>
                <button type="button" name="button"><span><%= image_tag("about/icon_linkin", :alt=>"icon facebook", :class=>"img-responsive")%></span>linkedin</button>
              </div>

  </div>

  <div class="col-md-6">
    <%= image_tag("about/rss.jpg", :alt =>"Day la anh cua toi", :class=>"img-responsive", :id=>"image") %>
  </div>
</div>
