
<style media="screen">
  h1{
    font-weight: bold;
    font-size: 50px;
  }
  h3{
    color: #666666;
  }
  p{
    font-size: 17px;
  }
  .col-md-12{
    margin-top: 10px;
  }
  #facebook{
    color: #3F51B5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  #facebook: hover{
    color: red;
  }
  #mail {
    color: #0288D1;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  #github{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  form{
    width: 70%;
  }
  input {
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
  }
  #image{
    border-radius: 15px 50px 30px 5px;
  }
  span{
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="col-md-12">
            <div class="col-md-6">
                      <h1>Sở thích:  </h1>
                        <h3>Bóng chuyền, bóng bàn, cà phê, pha chế </h3>
                        <p>Những ngày cuối tuần là những ngày đầy thú vị! Được tụ tập bạn bè, được
                        đi cà phê. Chém gió cùng mọi người, và đặc biệt là đi đánh chuyền ăn <span>"SỮA CHUA"</span></p>
                        <p>Thích pha chế những thứ vớ vẩn vào <span>"Ly Sinh Tố""</span>. Nó rất thú vị! Vì có hương vị
                        khá kỳ lạ. </p>
            </div>
            <div class="col-md-6">
              <%= image_tag("sothich/image", :alt =>"Day la anh cua toi", :class=>"img-responsive", :id=>"image") %>
            </div>
      </div>
  <div class="col-md-12">

  </div>
</div>
